@import "../variables.scss";

#projects {
  color: $primaryWhite;
  background-color: rgba($color: #2a192b, $alpha: 1);
  border-top: 4px solid #ad59e0;
  border-bottom: 4px solid #ad59e0;
}

.projects-container {
  padding: 100px 0;
  width: 1650px;
  margin: auto;
}

.title {
  text-align: center;
  font-family: $titleFamily;
  font-size: 3rem;
}

.underline {
  width: 90px;
  margin-top: 1rem;
  border: 2px solid $primaryWhite;
}

.cards-container {
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 25px;
}

.card-bg {
  height: 100%;
  width: 100%;
}

.card {
  overflow: hidden;

  &:hover .upper-card,
  &:hover .lower-card {
    transform: translateY(0);
    opacity: 1;
  }
}

.upper-card,
.lower-card {
  height: 50%;
  background-color: rgba($color: #0f0f0f, $alpha: 0.8);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.upper-card {
  transform: translateY(-100%);
  padding-top: 2rem;
  line-height: 1.3;

  h3 {
    font-size: 1.7rem;
    text-align: center;
  }

  p {
    margin-top: 0.3rem;
    font-size: 1.1;
  }
}

.lower-card {
  transform: translateY(100%);

  ul {
    padding-top: 1.5rem;
    font-size: 1.3rem;

    li {
      margin-bottom: 1rem;
      cursor: pointer;
      &:hover {
        color: $primaryPurple;
      }
    }
  }
}

.card-container {
  width: 60%;
  margin: auto;
}

.in-development {
  width: 70%;
  margin: auto;

  ul {
    padding-top: 0.5rem;
    li {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .projects-container {
    width: 70%;
    padding: 50px 0;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
}

@media only screen and (max-width: 1270px) {
  .projects-container {
    width: 90%;
  }

  .in-development {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 300px);
  }

  .card-container {
    width: 80%;
  }
}
