#about {
  background-color: #d6d6d6;
  color: #222222;
  box-shadow: inset 0px 0px 12px 0px rgba(50, 50, 50, 0.65);
}

.about-title {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  transition: 0.4s;

  h2 {
    font-family: $titleFamily;
    opacity: 0;
  }

  hr {
    width: 90px;
    margin-top: 1rem;
    border: 2px solid #222222;
    opacity: 0;
  }
}

.content {
  padding: 10px 0;
  display: flex;
}

.my-self {
  width: 50%;
  line-height: 1.2;

  & > div {
    display: flex;
    flex-direction: column;

    .profile-pic {
      height: 250px;
      width: 250px;
      margin: auto;
      margin-bottom: 30px;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.5);
    }
  }

  p {
    width: 470px;
    line-height: 1.4;
    margin: auto;
    font-size: 1.3rem;
  }
}

.from-right,
.from-left {
  opacity: 0;
}

.skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    margin-top: 1rem;
    padding-left: 1.4rem;
    font-size: 1.3rem;
    li {
      list-style: disc;
      margin: 1rem;
    }
  }
}

.subtitle {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.on-screen {
  h2 {
    animation: titleSlideInLeft 0.3s ease-in 0.1s forwards;
  }
  hr {
    animation: slideInLeft 0.3s ease-in 0.4s forwards;
  }
  .from-right {
    animation: slideInLeft 0.3s ease-in 0.7s forwards;
  }
  .from-left {
    animation: slideInRight 0.3s ease-in 0.7s forwards;
  }
}

@media only screen and (max-width: 1100px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .my-self,
  .skills {
    width: 80%;
  }

  .subtitle {
    font-size: 2rem;
  }

  .my-self p {
    width: 100%;
    font-size: 1.5rem;
  }

  .skills {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .my-self,
  .skills {
    width: 90%;
  }

  .skills {
    margin-top: 1rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .my-self p {
    font-size: 1.2rem;
  }
}
