@import "../variables.scss";
@import "../animations.scss";

#contact {
  background-color: #14141b;
  overflow: hidden;
}

.contact-title {
  font-size: 3rem;
  color: $primaryWhite;
  text-align: center;
  text-transform: uppercase;

  h2 {
    font-family: $titleFamily;
    opacity: 0;
  }

  hr {
    width: 90px;
    margin-top: 1rem;
    border: 2px solid $primaryWhite;
    opacity: 0;
  }
}

.touch {
  text-align: center;
  font-size: 1.5rem;
  color: $primaryWhite;
  margin-top: 2rem;
  text-transform: capitalize;
  opacity: 0;
}

.email {
  text-align: center;
  color: $primaryWhite;
  margin: 1rem 0;
  opacity: 0;

  p {
    margin: 0.2rem;
  }
}

.form {
  width: 450px;
  margin: auto;
  opacity: 0;

  button {
    margin-top: 0.2rem;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    color: $primaryWhite;
    background-color: transparent;
    border: 1px solid #5d465f;
    transition: 0.4s;

    &:hover {
      cursor: pointer;
      background-color: $primaryPurple;
      border-color: $primaryPurple;
    }
  }
}

.form-msg {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: $primaryWhite;
  border-radius: 5px;
  text-align: center;
}

.error {
  background-color: #cc0000;
}

.success {
  background-color: #0f580c;
}

.form-control {
  input,
  textarea {
    font-size: 1.3rem;
    width: 430px;
    margin-bottom: 0.4rem;
    padding: 0.6rem 0;
    padding-left: 20px;
    border: 1px solid #5d465f;
    border-radius: 2px;
    color: $primaryWhite;
    background-color: transparent;

    &:focus,
    &:active {
      outline: none;
    }
  }

  textarea {
    height: 150px;
    resize: none;
  }
}

.contact-in-view {
  h2 {
    animation: titleSlideInLeft 0.3s ease-in 0.3s forwards;
  }

  hr,
  h5 {
    animation: slideInRight 0.3s ease-in 0.3s forwards;
  }

  .email {
    animation: slideInLeft 0.3s ease-in 0.3s forwards;
  }

  .form {
    animation: scaleIn 1s ease-in-out 0.5s forwards;
  }
}

@media only screen and (max-width: 570px) {
  .form {
    width: 90%;
  }

  .form-control {
    input,
    textarea {
      width: calc(100% - 20px);
    }
  }
}
