@import "../variables.scss";

.header {
  width: 100%;
  background-color: rgba($color: #181717, $alpha: 1);
  box-shadow: 0px 2px 4px $primaryPurple;
  color: $primaryWhite;

  nav ul {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  nav ul li {
    margin: 1rem 1.1rem;
    font-size: 1.2rem;
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
      color: $primaryPurple;
    }
  }
}
