@import "../variables.scss";

.header {
  display: block;
  width: 100%;
  background-color: rgba($color: #181717, $alpha: 1);
  color: $primaryWhite;
  transition: all 0.3s;

  nav ul {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  nav ul li {
    margin: 1rem 1.1rem;
    font-size: 1.2rem;
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
      color: $primaryPurple;
    }
  }
}

.header-fixed {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid $primaryPurple;
}

@media only screen and (max-width: 650px) {
  .header {
    nav ul {
      margin-left: 0;
      width: 90%;
      margin: auto;
      justify-content: space-evenly;
    }

    nav ul li {
      margin: 0.7rem 0.3rem;
      font-size: 1rem;
    }
  }
}
