$primaryPurple: #cc005f;
$primaryDarkPurple: #2a192b;
$primaryLightPurple: #ad59e0;
$primaryBrightPurple: rgb(95, 6, 95);
$primaryWhite: #e2d7d7;
$primaryFamily: "Roboto Mono", monospace; // Font-weight: 300,500, 700
$titleFamily: "Recursive", sans-serif; // Font-weight: 900

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$container-xxl: 1320px;
