@import "../variables.scss";

.blog-page-container {
  padding-top: 55px;
  width: $container-xxl;
  margin: auto;
  padding-bottom: 5rem;

  .featured-blog {
    display: flex;
  }

  .featured-img {
    width: 50%;
  }

  .featured-content {
    padding: 1.5rem 2rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

    h2 {
      font-size: 2em;
      text-transform: capitalize;
    }

    p {
      margin-top: 0.7rem;
      line-height: 1.5;

      a {
        display: inline-block;
        border: 1px solid $primaryPurple;
        color: $primaryPurple;
        padding: 0.1rem 0.5rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: $primaryPurple;
          color: $primaryWhite;
        }
      }
    }

    .featured-details {
      display: flex;
      justify-content: space-between;

      .featured-author {
        text-transform: capitalize;
      }
    }
  }

  .blogs {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2;

    .blog-card {
      padding: 50px 15px 0 15px;
      width: 25%;

      h3 {
        margin: 0.7rem 0;
        font-size: 1.5em;
      }

      p {
        margin-bottom: 0.7rem;
      }

      .blog-author {
        font-size: 0.9em;
      }

      .blog-excerpt {
        font-size: 1em;
        min-height: 130px;
        max-height: 130px;
      }

      .blog-date {
        font-size: 0.8em;
        margin-top: 0.7rem;
      }

      .read-more {
        padding: 0.2rem 0.6rem;
        border: 1px solid $primaryPurple;
        color: $primaryPurple;
        transition: all 0.3s;

        &:hover {
          background-color: $primaryPurple;
          color: $primaryWhite;
        }
      }

      strong {
        font-weight: 700;
        text-transform: capitalize;
      }
    }
  }
}

@media only screen and (max-width: 1420px) {
  .blog-page-container {
    width: 90%;
    .featured-blog {
      .featured-content {
        padding-top: 0;

        h2 {
          font-size: 1.4em;
        }

        p {
          font-size: 0.9em;
        }
      }
    }

    .blogs {
      .blog-card {
        h3 {
          font-size: 1.4em;
        }

        p {
          margin-bottom: 0.9rem;
        }

        .blog-author {
          font-size: 0.9em;
          margin-bottom: 0.3rem;
        }

        .blog-excerpt {
          font-size: 0.9em;
          min-height: 110px;
          max-height: 110px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .blog-page-container {
    .blogs {
      .blog-card {
        width: calc(100% / 3);
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .blog-page-container {
    .featured-blog {
      flex-direction: column;
      align-items: center;

      .featured-img {
        width: 70%;
      }
      .featured-content {
        width: 70%;
        padding: 1rem 0 0 0;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .blog-page-container {
    .blogs {
      .blog-card {
        width: calc(100% / 2);
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .blog-page-container {
    .featured-blog {
      .featured-img {
        width: 90%;
      }
      .featured-content {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  .blog-page-container {
    .featured-blog {
      .featured-content {
        h2 {
          font-size: 1.1em;
        }

        p {
          font-size: 0.8em;
          margin-top: 0.4rem;
        }
      }
    }
    .blogs {
      .blog-card {
        width: 100%;

        h3 {
          font-size: 1.1em;
        }

        p {
          margin-bottom: 0.8rem;
        }

        .blog-author {
          font-size: 0.8em;
        }

        .blog-excerpt {
          font-size: 0.8em;
          min-height: unset;
          max-height: unset;
        }
      }
    }
  }
}
