@import "../variables.scss";

.blog-page-container {
  padding-top: 55px;
  width: $container-xxl;
  margin: auto;

  .featured-blog {
    display: flex;
  }

  .featured-content {
    padding: 1.5rem 2rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 2em;
      text-transform: capitalize;
    }

    p {
      margin-top: 0.7rem;
      line-height: 1.5;

      a {
        border: 1px solid $primaryPurple;
        color: $primaryPurple;
        padding: 0.1rem 0.5rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: $primaryPurple;
          color: $primaryWhite;
        }
      }
    }

    .featured-details {
      display: flex;
      justify-content: space-between;

      .featured-author {
        text-transform: capitalize;
      }
    }
  }

  .blogs {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2;

    .blog-card {
      padding: 50px 15px 0 15px;
      width: 25%;

      h3 {
        margin: 0.7rem 0;
        font-size: 1.5em;
      }

      p {
        margin-bottom: 0.7rem;
      }

      .blog-author {
        font-size: 0.9em;
      }

      .blog-excerpt {
        font-size: 1em;
        min-height: 130px;
        max-height: 130px;
      }

      .blog-date {
        font-size: 0.8em;
        margin-top: 0.7rem;
      }

      .read-more {
        padding: 0.2rem 0.6rem;
        border: 1px solid $primaryPurple;
        color: $primaryPurple;
        transition: all 0.3s;

        &:hover {
          background-color: $primaryPurple;
          color: $primaryWhite;
        }
      }

      strong {
        font-weight: 700;
        text-transform: capitalize;
      }
    }
  }
}
