@import "../variables.scss";

.social-links {
  position: absolute;
  bottom: 50px;
  right: 50%;
  transform: translate(50%);
  color: white;

  ul {
    display: flex;
  }

  ul li {
    margin: 1rem;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      color: $primaryPurple;
    }
  }
}
